
.services{
    display: flex;
    margin:  0 20px;
    justify-content: center;
    align-items: flex-start;
}

.services__item__img{
    background-color: white;
    border-radius: 50%;
    border: 1px solid #FFF;
    background-color: #cd4f40;
    padding: 10px 15px;
    height: 80px;
    width: 80px;
    margin-right: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__item__img img{
    height: 55px;
    width: 55px;
    margin: auto;
}

.services__item__title{
    color: #FFF;
    margin-bottom: 12px;
    font-size: 1.4rem;

}

.services__item__context{
    color: #999;
    font-size: 0.9rem;
    line-height: 20px;
}

@media(max-width:970px){
    .services{
        margin: 10px;
        width: 400px;
    }
}


@media(max-width:500px){
    .services{
        width: 350px;
    }

    .services__item__title{
        font-size: 1.2rem;
    }

    .services__item__img{
        height: 60px;
        width: 60px;
    }
    
    .services__item__img img{
        height: 35px;
        width: 35px;
    }
}

@media(max-width:370px){
    .services{
        width: 100vw;
    }

    .services__item__img{
        margin-right: 5px;
    }
}