.contactItem{
    text-align: center;
}

.contactItem img{
    height: 40px;
    width: 40px;
    filter: invert(30%) sepia(96%) saturate(732%) hue-rotate(328deg) brightness(104%) contrast(87%);
}

.contactItem h5{
    font-size: 1.3rem;
    margin: 15px 0 0 0;
    color: #FFF;   
}

.contactItem p{
    color: #FFF;
}

.contactItem p a{
    color: #FFF;
}

@media(max-width:425px){
    .contactItem{
        width: 100%;
    }
}