.skills{
    background-color: #1a1a1a;
    padding: 20px;
}

.skills__title{
    color: #FFF;
    text-align: center;
    font-size: 2rem;
}

.skills__items{
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}