.backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: 0.3s ease-in;
    transform: translateY(-100%);
}

.is_active {
    transform: translateY(0);
}

@media(min-width:1023px) {
    .backdrop {
        display: none;
    }
}