.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    font-family:'Yusei Magic';
    color: #cd4f40;
    margin: 0  16px;
    z-index: 9;
    animation: headerItemLeft linear 0.5s forwards;
}

.header__items{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    z-index: 9;
    animation: headerItemRigth ease-out 0.7s forwards;
}

.toggle__btn{
    width: 35px;
    height: 35px;
    background-color: transparent;
    z-index: 9;
    display: none;
    cursor: pointer;
    margin: 0 16px;
    min-width: 35px;
    animation: headerItemLeft linear 0.5s  ;
}

.toggle__btn span{
    background-color: #FFF;
    width: 100%;
    height:2px;
    margin: 5px 0;
}

.menu__responsive{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#cd4e40 ;
    width: 55vw;
    height: 100vh;
    z-index: 11;
    transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transform: translateX(-100%);
    display: none;
    opacity: 0;
    min-width: 100px;
}

.header__items__responsive{
   margin: 0;
   padding: 0;
}

@media(max-width:830px){
    .header__items{
        display: none;
    }

    .logo{
        animation: headerItemRigth ease-out 0.7s forwards;
    }

    .toggle__btn{
        display: flex;
        flex-flow: column;
    }

    .menu__responsive{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:310px){
    .header{
        padding: 20px 0;
        min-width: 240px;
    }

    .toggle__btn{
        margin: 0;
    }
}






@keyframes headerItemLeft{
    0%{
        opacity: 0;
        transform: translateX(-20vw);
    }

    50%{
        opacity: 0.5;
        transform: translateX(-10vw);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes headerItemRigth{
    0%{
        opacity: 0;
        transform: translateX(20vw);
    }

    50%{
        opacity: 0.5;
        transform: translateX(-8vw);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}